<!DOCTYPE html>
<html>
  <head>
    <title>Glass Bead Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>

  <body ng-app="gbg">
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/ngsails.io.js"></script>
    <!--SCRIPTS END-->
    <script>
        var app = angular.module('gbg', ['sails.io']);
        app.controller('MainCtrl', function($scope, $sailsSocket) {
            var id = window.location.toString().split('/').pop();
            io.socket.get('/container', {containerId: id}, function(data) {
              $scope.containerOutput = data[0].logs;
              $scope.id = id;
            });
            io.socket.on('message', {containerId: id}, function(data) {
              $scope.containerOutput = data[0].logs;
            });
        });
    </script>
  </body>
</html>
